<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarsila do Amaral</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body class="tarsila">
    <a href="/home"><button class="glow-on-hover">Voltar</button></a>

	<h1>Obras de Tarsila do Amaral</h1>
	<% for (let i=0; i<paintings.length; i++) { %>
		<div>
			<img src="<%= paintings[i].urlimagem %>" alt="<%= paintings[i].nome %>">
			<div>
				<h5>
					<%= paintings[i].nome %>
				</h5>
				<p>
					<%= paintings[i].artista %>
				</p>
			</div>
		</div>
		<hr />
	<% } %>

</body>
</html>